@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h2 class="display-4">Discover insights and relationships in text</h2>

    <p class="d-inline-flex gap-1">
      <a data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Sample texts
      </a>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <h4>About AWS Lambda (in French)</h4>
        <p>
            AWS Lambda est un service de calcul sans serveur qui exécute votre code en réponse à des événements et gère automatiquement les ressources de calcul sous-jacentes pour vous. Ces événements peuvent inclure des changements d'état ou une mise à jour, comme un utilisateur plaçant un élément dans un panier sur un site web de e-commerce. Vous pouvez utiliser AWS Lambda pour étendre les autres services AWS avec une logique personnalisée ou créer vos propres services backend qui fonctionnent en bénéficiant de la mise à l’échelle, des performances et de la sécurité AWS. AWS Lambda exécute automatiquement un code en réponse à plusieurs événements, tels que les requêtes HTTP via Amazon API Gateway, les modifications d'objets dans des compartiments Amazon Simple Storage Service (Amazon S3), les mises à jour de tables dans Amazon DynamoDB ou les transitions d'états dans AWS Step Functions.
        </p>
        <h4>Chief Executive Officer, Amazon Web Services</h4>
        <p>
            Adam Selipsky is the CEO of Amazon Web Services (AWS), the world’s most comprehensive and broadly adopted cloud platform. As leader of AWS Marketing, Sales, and Support for 11 years, from 2005–2016, Selipsky helped launch and grow AWS from a startup into a multi-billion dollar business. Prior to rejoining AWS in 2021, Selipsky was most recently President and CEO of Tableau Software. He led Tableau through its acquisition by Salesforce, in what was the third-largest software industry acquisition at the time. Selipsky has also held various leadership roles at RealNetworks and before that was a principal at strategy consulting firm Mercer Management Consulting. He has an AB in government from Harvard University and an MBA from Harvard Business School.
        </p>
        @*<h4>About Amazon EC2 (in Portuguese)</h4>
        <p>
            O Amazon Elastic Compute Cloud (Amazon EC2) oferece a plataforma de computação mais ampla e profunda, com mais de 500 instâncias e opções do processador, armazenamento, redes, sistema operacional e modelo de compra mais recentes para ajudar você a atender melhor às necessidades da sua workload. Somos o primeiro grande provedor de nuvem a oferecer suporte para processadores Intel, AMD e Arm, a única nuvem com instâncias Mac do EC2 sob demanda e a única nuvem com redes Ethernet de 400 Gbps. Oferecemos a melhor performance de preço para treinamento de machine learning, bem como o menor custo por instâncias de inferência na nuvem. Mais workloads SAP, computação de alta performance (HPC), ML e Windows são executadas na AWS do que qualquer outra nuvem.
        </p>
        
        <h4>Contact Form</h4>
        <p>
            Hi, my name is John Stanley. For verification, the last 4 digits of my social are 6789 and my birth date is 20/09. I paid for my credit card 5412-0000-1111-0000 last week from my bank account 123876738-4352. The check was mailed from 100 Main Street, Anytown, WA 98121.
        </p>*@
      </div>
    </div>
    
    <form method="post">
        <div class="form-group pt-3">
            <label for="Text">Text to analyze:</label>
            <textarea class="form-control" id="Text" name="Text" rows="5">@Model.Text</textarea>
        </div>
        <div class="form-group pt-3">
            <input type="submit" class="btn btn-primary" asp-page-handler="Entities" value="Detect entities" />
            <input type="submit" class="btn btn-primary" asp-page-handler="PII" value="Detect PII" />
            <input type="submit" class="btn btn-primary" asp-page-handler="Language" value="Translate text" />
        </div>
    </form>

    <div class="container">
        <div class="row">
            <div class="col pt-3">
                @Html.Raw(Model.Result)
            </div>
        </div>
    </div>

</div>
